<h1> Sign In </h1>
<form action="/users/create-session" method="POST"> <% // when a user is logged in a session is created %>
  
  <input type="text" name ="name" placeholder="your name" required>   <%// NAME -> name of teh key %>
  <input type="text" name ="email" placeholder="email" required>
  <input type= "submit" value ="Sign In">

  </form>